@use "../../app/config" as config;

.card {
    padding: 20px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    p {
        margin: 0.5rem 0;
        line-height: 1.5;
        color: config.$paragraph-color;
    }


    &:hover {
        background-color: blue;
        cursor: pointer;
    }
}

.container {
    display: flex;
    // width: 100%;
    // justify-content: space-between;
    flex-direction: row;
    align-items: center;

    @include config.media-sm {
        flex-direction: column-reverse;
        align-items: start;
    }
}

.left {
    flex: 1;

    @include config.media-sm {
        width: 100%;
    }
}

.icon {
    width: 15px;
}

.right {
    flex: 2;
    width: 70%;

    @include config.media-lg {
        flex: 3;
    }
    
    @include config.media-sm {
        width: 100%;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
}

.imageContainer {
    padding-top: 2px;

    @include config.media-sm {
        padding-top: 15px;
    }
}