@use '../../app/config' as config;

.leftContainer {
    position: fixed;
    width: 35%;
    height: 100%;
    margin-top: 110px;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 1;

    @include config.media-xl {
        margin-left: 0;
        padding: 2rem;
        width: 45%;
        margin-top: 100px;
    }

    @include config.media-lg {
        position: relative;
        width: 100%;
        margin: 10% auto 0;
        text-align: center;
        height: auto;
        align-items: center;
        padding: 0 1.5rem;
    }

    h1 {
        margin-bottom: 0.5rem;
        font-size: 3rem;

        @include config.media-lg {
            text-align: center;
            width: 100%;
        }
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: gray;
    }

    p {
        text-align: left;
        line-height: 1.5em;

        @include config.media-lg {
            text-align: center;
        }
    }

    nav {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;

        hr {
            display: inline-block;
            width: 50px;
            bottom: 0.3em;
            position: relative;
            margin-right: 10px;
            transition: width 0.3s ease-in-out;


        }

        a {
            color: config.$left-text-color;
            text-decoration: none;
            margin: 0.5em 0;
            font-size: 1rem;
            transition: color 0.3s;
            align-self: flex-start;


            &:hover {
                color: white;
            }

        }

        .active {
            color: white;
        }

        .active hr {
            width: 100px;
            color: white;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}


.themeToggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    right: 0;
    svg {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    @include config.media-lg {
        margin-left: auto;  // Push it to the right on smaller screens
    }
}

.socialLinks {
    display: flex;
    gap: 1.5rem;
    margin-top: 15vh;
    flex-wrap: wrap;

    a {
        color: config.$left-text-color;
        text-decoration: none;

        &:hover {
            color: white;
        }

        i {
            font-size: 32px;
            /* Adjust the icon size */
        }
    }

    @include config.media-lg {
        margin-top: 10vh;
        gap: 3rem;
    }
}