@use "../../app/config" as config;

.section {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 5px;

    p {
        margin-top: 20px;
        line-height: 1.5rem;
        color: config.$paragraph-color
    }

    .link {
        font-size: 1.1rem;
        color: config.$link-color;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: config.$link-hover;
        }
    }

    @include config.media-md {
        margin-left: 0;
    }
}