$primary-color: #0f172a;
$card-color: #344CB7;
$heading-color: rgba(226 232 240);
$horizontal-line: #94a3b8;
$paragraph-color: #94a3b8;
$link-color: white;
$link-hover: #3EB2FD;
$selection-color: rgba(57, 132, 255, 0.3);

$button-color: #3EB2FD;
$cursor-effect: rgb(62, 62, 77);

@mixin media-sm {
    @media screen and (max-width: 640px) {
        @content;
    }
}


@mixin media-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (max-width: 1280px) {
        @content;
    }
}

@mixin media-2xl {
    @media screen and (max-width: 1536px) {
        @content;
    }
}