@use 'config' as config;

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: config.$primary-color;
  position: relative;
  overflow: hidden;
  flex-direction: row;

  &::selection {
    background-color: config.$selection-color;
    color: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(var(--y, 0) - 300px);
    left: calc(var(--x, 0) - 300px);
    width: 600px;
    height: 600px;
    background: radial-gradient(config.$cursor-effect, transparent 40%);

    opacity: 0;
    transition: opacity 2s;
    pointer-events: none;

  }

  &:hover::after {
    opacity: 0.4;
  }

  @include config.media-lg {
    flex-direction: column;
    align-items: center;
  }

}

.right {
  margin-left: 50%;
  margin-right: 8%;
  width: 50%;
  flex: 1;
  padding: 1rem 0 2rem 0;
  overflow-y: auto;
  overflow: hidden;
  max-height: 100%;
  background-color: config.$primary-color;
  min-height: 200vh;

  @include config.media-xl {
    margin-right: 0;
    padding: 2rem 2rem 2rem 0;
  }

  @include config.media-lg {
    margin-left: 0;
    width: 100%;
    min-height: 100%;
    max-height: none;
    padding: 2rem;
  }

  .section {
    margin-bottom: 6rem;
    padding-bottom: 10px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      margin-left: 5px;

    }

    .resume {
      display: block;
      margin-top: 20px;

      &:hover {
        color: config.$link-hover;
      }
    }
  }



  .card {
    background-color: config.$card-color;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }
}

.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.comments {
  font-size: 1rem;
  line-height: 1.6;

  p {
    margin-bottom: 100px;
    font-style: italic;
    font-weight: 300;
    max-width: 600px;
    color: config.$paragraph-color;

    a {
      color: config.$link-color;
      font-size: 1.1rem;
    }
    a:hover {
      color: config.$link-hover;
    }
  }
}


