@use 'config' as config;

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: config.$primary-color;
  position: relative;
  overflow: hidden;
  flex-direction: row;

  &::selection {
    background-color: config.$selection-color; // Change this to any color you like
    color: inherit; // Keeps the text color unchanged
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(var(--y, 0) - 300px);
    left: calc(var(--x, 0) - 300px);
    width: 600px;
    height: 600px;
    background: radial-gradient(black, transparent 60%);

    opacity: 0;
    transition: opacity 2s;
    pointer-events: none;  /* This ensures the cursor effect doesn't block other hover interactions */

  }

  &:hover::after {
    opacity: 0.4;
  }

  @include config.media-md {
    flex-direction: column;
  }

}


// Main content styles
.right {
  margin-left: 50%;
  margin-right: 10%;
  width: 50%;
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  overflow: hidden;
  max-height: 100vh;
  background-color: config.$primary-color;
  min-height: 200vh;

  .section {
    margin-bottom: 4rem;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .card {
    background-color: config.$card-color;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }
  @include config.media-md {
    margin-left: 0; /* Remove left margin for better spacing on medium screens */
    margin-right: 0; /* Remove right margin */
    width: 100%; /* Take full width when stacked vertically */
  }
}

.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.comments {
  font-size: 1rem;
  line-height: 1.6;

  p {
    margin: 0;
    font-style: italic;
    font-weight: 300;
    max-width: 600px;
  }
}


