@use "../../app/config" as config;

.card {
    padding: 20px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    // transition: box-shadow 0.3s ease, background-color 0.3s ease;

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    p {
        margin: 0.5rem 0;
        line-height: 1.5;
        color: config.$paragraph-color;

        strong {
            font-weight: bold;
        }
    }

    &:hover {
        background-color: blue;
        cursor: pointer;
    }
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: row;

    @include config.media-sm {
        flex-direction: column;
    }
}

.chronological {
    padding-top: 2px;
    flex: 1;

    hr {
        display: inline-block;
        bottom: 0.3em;
        width: 20px;
        position: relative;
    }

    h5 {
        font-size: 12px;
        margin-left: 5px;
    }

    @include config.media-md {
        width: 100%;
        gap: 5px;
        margin-left: 0;
    }
}

.content {
    flex: 2;


    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
    @include config.media-lg {
        width: 80%;
        flex: 3;
    }

    @include config.media-md {
        width: 100%;
    }
}

.icon {
    width: 15px;
}
