@use "../../app/config" as config;

.card {
    padding: 20px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    p {
        margin: 0.5rem 0;
        line-height: 1.5;
        color: var(--paragraph-color);

        strong {
            font-weight: bold;
        }
    }

    &:hover {
        background-color: var(--card-color);
        cursor: pointer;
    }
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;

    @include config.media-sm {
        flex-direction: column;
    }
}

.chronological {
    padding-top: 2px;
    flex: 1;
    color: var(--paragraph-color);

    hr {
        display: inline-block;
        bottom: 0.3em;
        width: 20px;
        position: relative;
    }

    h5 {
        font-size: 12px;
    }

    @include config.media-md {
        width: 100%;
    }
}

.content {
    flex: 2;


    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        color: var(--paragraph-color);
    }

    @include config.media-lg {
        width: 80%;
        flex: 3;
    }

    @include config.media-md {
        width: 100%;
    }
}

.icon {
    width: 15px;
}

.technology {
    padding-top: 2rem;
}
